.centerText{
    text-align: center;
}

.marginAutoLeftRight{
    margin-left: auto;
    margin-right: auto;
}

.marginAutoAll{
    margin: auto;
}

.clientRow:hover{
    background-color: rgba(51, 65, 100, 0.5);
    cursor: pointer;
}

#subTitle{
    background-color: rgba(51, 65, 100, 0.5);
}